#detailsButton {
    display: grid;
    width: 10rem;
    height: 5vh;
    place-content: center;
    grid-area: botonDetalles;
    margin-bottom: 0vh;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    border: none;
    color: white;
    &:hover {
        filter: saturate(2);
    }
}
#plusButton {
    display: grid;
    background-color: white;
    color: rgb(46, 46, 189);
    font-size: 4vh;
    border: none;
    grid-area: botonSumar;
    &:hover {
        transform: scale(1.5);
        transition: 0.1s;
    }
}

#minusButton {
    display: grid;
    background-color: white;
    font-size: 4vh;
    color: rgb(46, 46, 189);
    border: none;
    grid-area: botonRestar;
    &:hover {
        transform: scale(1.5);
        transition: 0.1s;
    }
}

#counterNumber {
    display: grid;
    place-items: center;
    font-size: 4vh;
    margin: auto;
    grid-area: contador;
}

#addToCartButton {
    display: grid;
    place-content: center;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 0 2px 3px #a3b4a2;
    border: none;
    outline-offset: none;
    width: 10rem;
    opacity: 0.9;
    margin-bottom: 3%;
    &:hover {
        filter: saturate(2);
        transition: 0.5s;
        opacity: 1;
    }
}


.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
