header {
    color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 2;
    height: fit-content;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 3px 1px 6px black;
    & a h1 {
        font-family: "Lobster", cursive;
        font-size: 7vh;
        filter: drop-shadow(1vh 1vh 1vh black);
    }
    & a:hover {
        color: #fed395;
        transition: 0.5s;
    }
    &:hover {
        transition: 0.5s;
        filter: saturate(1.1);
    }
}


.logoFootball {
    color: #fed395;
}

#navBarToggleButton {
    display: flex;
    border: none;
    order: 2;
    outline-offset: none;
    background-color: transparent;
    color: white;
    font-weight: 800;
    font-size: 4vh;
    &:hover {
        color: #fed395;
    }
}


.navWidget {
    display: flex;
    flex-direction: column;
    order: 3;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav__categories {
    display: flex;
    flex-direction: row;
    font-size: 2.5vh;
}

.dropdown {
    outline: none;
}

#dropdown-basic-button {
    border: none;
    outline: none;
    background-color: transparent;
    &:hover {
        filter: saturate(1.5);
        color: wheat;
    }
}

.dropdown-item a {
    color: black;
    &:hover {
        color: rgb(114, 2, 2);
    }
    
}

.searchBar{
    display: flex;
    justify-content: center;
    margin: 2vh 0 1vh 0;
    &__input {
        border: none;
        outline: none;
        box-shadow: 3px 1px 6px black;
        padding: 0 1vh 0 1vh;
        border-radius: 1vh;
        &:focus{
            border: none;
            background-color: wheat;
        }
    }
}

#searchButton{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    transform: scale(1.5);
    margin-left: 1vh;
    margin-bottom: 1vh;
    :hover{
        color: wheat;
        transition: .5s;
    }
}

