@import "_buttons.scss";
@import "_carousel.scss";
@import "_cart.scss";
@import "_checkOut.scss";
@import "_footer.scss";
@import "_general.scss";
@import "_header.scss";
@import "_itemCount.scss";
@import "_itemDetailContainer.scss";
@import "_itemListContainer.scss";
@import "_landingPage.scss";
@import "_spinner.scss";

@media (max-width: 1500px) {
    .itemList {
        grid-template-columns: 50% 50%;
        transition: 1s;
    }
    .landingPage {
        font-size: 5vh;
        padding-top: 15rem;
    }
    .itemDetailContainer {
        grid-template-columns: 100%;
    }
    .itemDetailCardContainer {
        margin-left: auto;
        margin-right: auto;
        grid-gap: 0;
    }
    .itemDetailRightContainer {
        margin-left: auto;
        margin-right: auto;
    }
    .cartContainer__items {
        width: 100%;
        padding: 5vh;
        &--imagen img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1000px) {
    .itemList {
        grid-template-columns: 100%;
        transition: 1s;
    }
    header a h1 {
        display: flex;
        order: 1;
        font-size: 7vh;
    }
    .landingPage {
        font-size: 5vh;
        padding-top: 25vh;
        & button {
            padding: 5rem;
            font-size: 5vh;
            font-weight: 700;
            border: none;
            outline-offset: none;
        }
    } 
    nav {
        font-size: 2.5vh;
    }

    #navBarToggleButton {
        display: flex;
        order: 2;
    }
    .emptyCartContainer {
        margin-top: 10%;
        width: 75%;
        & img {
            width: 75%;
        }
    }

    .nav__categories {
        font-family: "Montserrat", sans-serif;
        flex-flow: column wrap;
        padding: 2vh 8vh 2vh 8vh;
        & button {
            font-size: 2.5vh;
        }
    }

    #counterNumber {
        font-size: 2.5vh;
    }
    .loadingSpinnerContainer {
        padding-top: 10rem;
    }
    .cartContainer__items {
        grid-template-areas:
            ". fotito ."
            ". . ."
            ". info .";
            &--info {
                grid-area: info;
            }
            &--imagen {
                grid-area: fotito;
                & img {
                    height: 14rem;
                    width: 11rem;
                }
            }
    }
}

@media (max-width: 500px) {
    .itemList {
        grid-template-columns: 100%;
        transition: 1s;
    }
    header a h1 {
        order: 2;
        font-size: 6vh;
    }
    nav {
        flex-direction: column;
        font-size: 1.5vh;
    }


    .nav__categories{
        display: flex;
        order: 3;
        & button {
            font-size: 1.75vh;
        }
    }

    .mainCarousel {
        margin-top: 10vh;
    }

    .carousel-item:active {
        height: 80%;
    }

    .itemDetailCardContainer .img-fluid {
        width: 80%;
    }
   
    #counterNumber {
        font-size: 2vh;
    }

    .emptyCartContainer {
        margin-top: 20%;
        width: 75%;
        & img {
            width: 100%;
        }
    }

    .carousel-caption{
        transform: scale(0.5);
    }

    .cartContainer__items {
        min-width: 60vw;
        &--info h3 {
            font-size: 75%;
            font-weight: 600;
        }
        &--info h6 {
            font-size: 70%;
        }
        &--imagen img {
            height: 8rem;
            width: 8rem;
        }
    }

    .cartContainer__other #addToCartButton {
        margin: 1rem;
        width: 80%;
    }
}




