* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background: url("https://images.freeimages.com/images/large-previews/c63/soccer-jumping-1395833.jpg") no-repeat
        center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

header {
    color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 2;
    height: fit-content;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 3px 1px 6px black;
}

header:hover {
    transition: 0.5s;
    filter: saturate(1.1);
}

header a:hover {
    color: #fed395;
    transition: 0.5s;
}

header a h1 {
    font-family: "Lobster", cursive;
    font-size: 7vh;
    filter: drop-shadow(1vh 1vh 1vh black);
}

.logoFootball {
    color: #fed395;
}

#navBarToggleButton {
    display: flex;
    border: none;
    order: 2;
    outline-offset: none;
    background-color: transparent;
    color: white;
    font-weight: 800;
    font-size: 4vh;
}

#navBarToggleButton:hover {
    color: #fed395;
}

.navWidget {
    display: flex;
    flex-direction: column;
    order: 3;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav__categories {
    display: flex;
    flex-direction: row;
    font-size: 2.5vh;
}

.dropdown {
    outline: none;
}

#dropdown-basic-button {
    border: none;
    outline: none;
    background-color: transparent;
}

#dropdown-basic-button:hover {
    filter: saturate(1.5);
    color: wheat;
}

.dropdown-item a {
    color: black;
}

.dropdown-item a:hover {
    color: rgb(114, 2, 2);
}

.landingPage {
    display: grid;
    place-content: center;
    padding-top: 20rem;
    width: 100%;
    max-height: fit-content;
}

.landingPage button {
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 9vh;
    text-shadow: 1px 1px 5px black;
    font-weight: 900;
}

.landingPage button:hover {
    background: transparent;
    color: rgb(114, 2, 2);
    box-shadow: inset 0 0 0 3px rgb(114, 2, 2);
    transition: 0.5s;
}

.loadingSpinnerContainer {
    display: flex;
    padding-top: 20rem;
    font-size: 5vh;
    justify-content: center;
}

.mainCarousel {
    display: grid;
    width: 90%;
    height: 40%;
    font-family: "Montserrat", sans-serif;
    margin: 3rem auto 0 auto;
    opacity: 0.95;
}

.mainCarousel:hover {
    opacity: 1;
    filter: saturate(1.1);
    transition: 0.5s;
}

.mainCarousel img {
    border-radius: 1em;
}

.carousel-caption {
    opacity: 0.75;
    font-weight: 800;
    text-shadow: #ffffff 2px 2px 2px;
    border-radius: 1em;
    background-color: white;
}

.itemList {
    display: grid;
    grid-template-columns: 33%33%33%;
    margin-top: 3rem;
}

.itemList img {
    width: 80%;
    height: 100%;
}

.itemList img:hover {
    transition: 0.5s;
    transform: scale(1.01);
    filter: saturate(1.5);
}

.itemContainer {
    display: grid;
    width: 70%;
    height: auto;
    font-family: "Montserrat", sans-serif;
    box-shadow: rgb(39, 39, 39) 0.4vh 0.7vh 0.4vh;
    border-radius: 1em;
    margin: 1em auto;
    background-color: white;
    place-items: center;
    grid-gap: 1em;
    grid-template-areas:
        "producto"
        "producto"
        "producto"
        "producto"
        "botonDetalles";
}

.itemContainer h3 {
    border-top: rgb(184, 183, 183) 1px solid;
    padding-top: 2vh;
    margin-right: 3vh;
}

.itemContainer a img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.itemContainer:hover {
    transition: 0.25s;
    box-shadow: rgb(94, 93, 93) 1vh 1vh 1vh;
}

#detailsButton {
    display: grid;
    width: 25vh;
    height: 5vh;
    place-content: center;
    grid-area: botonDetalles;
    margin: auto;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    border: none;
    color: white;
}
#detailsButton:hover {
    filter: saturate(2);
}

.itemContainer h3 {
    color: #193a29;
}

.itemCard--top {
    display: grid;
    width: 100%;
    grid-area: cantidad;
    place-items: center;
    grid-template-areas: "botonRestar contador botonSumar";
}
.itemCard--bottom {
    display: grid;
    grid-area: agregar;
}

.itemCard--bottom button:hover {
    display: grid;
    filter: saturate(2);
    opacity: 1;
    transition: 0.5s;
}

#buttonSwitch {
    border-radius: 100%;
}

#buttonSwitch:hover {
    background-color: wheat;
    transition: 1s;
}

#plusButton {
    display: grid;
    background-color: white;
    color: rgb(46, 46, 189);
    font-size: 4vh;
    border: none;
    grid-area: botonSumar;
}

#plusButton:hover {
    transform: scale(1.5);
    transition: 0.1s;
}

#minusButton {
    display: grid;
    background-color: white;
    font-size: 4vh;
    color: rgb(46, 46, 189);
    border: none;
    grid-area: botonRestar;
}

#minusButton:hover {
    transform: scale(1.5);
    transition: 0.1s;
}

#counterNumber {
    display: grid;
    place-items: center;
    font-size: 4vh;
    margin: auto;
    grid-area: contador;
}

#addToCartButton {
    display: grid;
    place-content: center;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 0 2px 3px #a3b4a2;
    border: none;
    outline-offset: none;
    width: 10rem;
    opacity: 0.9;
    margin-bottom: 3%;
}

#addToCartButton:hover {
    filter: saturate(2);
    transition: 0.5s;
    opacity: 1;
}

.itemDetailContainer {
    display: grid;
    grid-template-columns: 55% 45%;
    font-family: "Montserrat", sans-serif;
}

.itemDetailContainer ul li {
    font-size: 3vh;
}

.itemDetailRightContainer {
    display: grid;
    width: 70%;
    height: fit-content;
    background-color: white;
    margin: 2rem;
    height: fit-content;
    box-shadow: rgb(36, 36, 36) 1vh 1.5vh 1vh;
    padding: 3rem;
    border-radius: 1em;
    place-content: center;
}
.itemDetailRightContainer:hover {
    box-shadow: rgb(65, 65, 65) 1.5vh 2vh 1.5vh;
    transition: 0.2s;
}

.itemDetailRightContainer h3 {
    font-size: 1.75rem;
    padding: 2rem;
    color: black;
}

.itemDetailRightContainer p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.itemDetailRightContainer img {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.itemDetailCardContainer {
    display: grid;
    width: 70%;
    height: fit-content;
    box-shadow: rgb(36, 36, 36) 1vh 1.5vh 1vh;
    transition: 0.25s;
    border-radius: 1em;
    margin: 2rem;
    background-color: white;
    place-items: center;
    grid-gap: 1em;
    grid-template-areas:
        "producto"
        "producto"
        "producto"
        "cantidad"
        "agregar";
}

.itemDetailCardContainer:hover {
    box-shadow: rgb(65, 65, 65) 1.5vh 2vh 1.5vh;
    transition: 0.2s;
}

.itemDetailCardContainer h3 {
    color: #193a29;
    font-weight: 600;
}

.itemDetailCardContainer img {
    border-bottom: rgb(184, 183, 183) 1px solid;
    width: 20rem;
}

.itemDetailCardContainer img:hover {
    filter: saturate(1.5);
    transition: 0.5s;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    box-shadow: none;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.emptyCartContainer {
    display: grid;
    width: 40%;
    height: 70%;
    font-family: "Montserrat", sans-serif;
    box-shadow: rgb(39, 39, 39) 0.4vh 0.7vh 0.4vh;
    border-radius: 1em;
    margin: 10% auto;
    background-color: white;
    place-items: center;
    grid-gap: 1em;
}
.emptyCartContainer img {
    width: 50%;
}

.cartContainer {
    display: grid;
    grid-template-columns: 100%;
    width: 50%;
    margin: auto;
}

.cartContainer__other {
    display: grid;
    place-items: center;
    border-radius: 1rem;
    width: 100%;
    margin: 2rem auto;
    min-height: fit-content;
    background-color: white;
    box-shadow: rgb(39, 39, 39) 0.4vh 0.7vh 0.4vh;
}
.cartContainer__other:hover {
    transition: 0.5s;
    box-shadow: rgb(92, 92, 92) 0.4vh 0.7vh 0.4vh;
}

.cartContainer__items {
    display: grid;
    width: 100%;
    height: min-content;
    grid-template-columns: 40% 10% 50%;
    grid-template-areas: "info . imagen";
    font-family: "Montserrat", sans-serif;
    font-size: 3vh;
    box-shadow: rgb(39, 39, 39) 0.4vh 0.7vh 0.4vh;
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;
    background-color: white;
    place-items: center;
}

.cartContainer__items:hover {
    box-shadow: rgb(75, 75, 75) 0.4vh 1vh 0.5vh;
}

.cartContainer__items--info {
    display: grid;
    grid-area: info;
    place-content: center;
}

.cartContainer__items--imagen {
    display: grid;
    grid-area: imagen;
    width: 80%;
    margin: 0 auto 0 auto;
    height: 100%;
    place-content: center;
    padding: 3vh;
}

.cartContainer__items--imagen img {
    width: 85%;
    height: 100%;
}

.cartContainer__items--imagen img:hover {
    filter: saturate(1.1);
    transform: scale(1.01);
    transition: 0.5s;
}

.widgetIcon {
    display: flex;
    margin-left: -1.5vh;
    margin-top: -0.75vh;
}

.widgetNumber {
    display: flex;
    place-content: center;
    width: 2.5vh;
    background-color: whitesmoke;
    border: 1px white solid;
    border-radius: 100%;
    color: black;
}

.footer {
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 3px 1px 6px black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.footer:hover {
    filter: saturate(1.1);
    transition: 0.5s;
}

.footer h1 {
    font-family: "Lobster", cursive;
    font-size: 6vh;
    filter: drop-shadow(1vh 1vh 1vh black);
}
.footer h3 {
    color: #fed395;
    font-weight: 600;
}

.footer ul li:hover {
    cursor: pointer;
    color: #fed395;
}

.checkOutContainer {
    display: grid;
    grid-template-columns: 100%;
    background: url("https://images.freeimages.com/images/large-previews/af7/football-1218204.jpg") no-repeat
        center center fixed;
    background-size: cover;
    margin-bottom: -8vh;
    place-content: center;
}

.checkOutContainer__form {
    display: grid;
    background-color: white;
    margin: 4rem auto 4rem auto;
    padding: 2rem;
    min-width: auto;
    min-height: 40vh;
    border-radius: 1em;
    box-shadow: rgb(39, 39, 39) 0.4vh 0.7vh 0.4vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.checkOutContainer__form h1 {
    font-weight: 900;
}

.checkOutContainer__form--input {
    display: grid;
    width: 100%;
    margin: 1rem auto 1rem auto;
    overflow-x: hidden;
}

.checkOutContainer__form--button {
    display: grid;
    width: 100%;
    height: fit-content;
    margin: 1rem auto 1rem auto;
}

.checkOutContainer__form--error {
    font-size: 70%;
    color: red;
}

.checkOutContainer__form--priceBreakdown {
    padding: 1em 0 1em 0;
    line-height: 2vh;
}

@media (max-width: 1000px) {
    .landingPage {
        font-size: 5vh;
        padding-top: 15rem;
    }
    .itemDetailContainer {
        grid-template-columns: 100%;
    }
    .itemDetailCardContainer {
        margin-left: auto;
        margin-right: auto;
        grid-gap: 0;
    }
    .itemDetailRightContainer {
        margin-left: auto;
        margin-right: auto;
    }
    .cartContainer__items {
        width: 100%;
        padding: 5vh;
    }
    .cartContainer__items--imagen img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 820px) {
    .itemList {
        grid-template-columns: 50% 50%;
        transition: 1s;
    }
    header a h1 {
        display: flex;
        order: 1;
        font-size: 7vh;
    }
    .landingPage {
        font-size: 5vh;
        padding-top: 25vh;
    }
    .landingPage button {
        padding: 5rem;
        font-size: 5vh;
        font-weight: 700;
        border: none;
        outline-offset: none;
    }
    nav {
        font-size: 2.5vh;
    }

    #navBarToggleButton {
        display: flex;
        order: 2;
    }
    .emptyCartContainer {
        margin-top: 10%;
        width: 75%;
    }
    .emptyCartContainer img {
        width: 75%;
    }

    .nav__categories {
        font-family: "Montserrat", sans-serif;
        flex-flow: column wrap;
        padding: 2vh 8vh 2vh 8vh;
    }
    .nav__categories button {
        font-size: 2.5vh;
    }
    #counterNumber {
        font-size: 2.5vh;
    }
    .loadingSpinnerContainer {
        padding-top: 10rem;
    }
    .cartContainer__items {
        grid-template-areas:
            ". fotito ."
            ". . ."
            ". info .";
    }
    .cartContainer__items--info {
        grid-area: info;
    }
    .cartContainer__items--imagen {
        grid-area: fotito;
    }
    .cartContainer__items--imagen img {
        height: 14rem;
        width: 11rem;
    }
}

@media (max-width: 500px) {
    .itemList {
        grid-template-columns: 100%;
        transition: 1s;
    }
    header a h1 {
        order: 2;
        font-size: 6vh;
    }
    nav {
        flex-direction: column;
        font-size: 1.5vh;
    }


    .nav__categories{
        display: flex;
        order: 3;
    }

    .nav__categories button {
        font-size: 1.75vh;
    }

    .mainCarousel {
        height: 70%;
    }

    .mainCarousel img {
        height: 80%;
    }

    .carousel-item:active {
        height: 80%;
    }

    .itemDetailCardContainer .img-fluid {
        width: 80%;
    }

    .carousel-caption {
        display: none;
    }
    #counterNumber {
        font-size: 2vh;
    }

    .emptyCartContainer {
        margin-top: 20%;
        width: 75%;
    }
    .emptyCartContainer img {
        width: 100%;
    }

    .cartContainer__items {
        min-width: 60vw;
    }
    .cartContainer__items--info h3 {
        font-size: 75%;
        font-weight: 600;
    }
    .cartContainer__items--info h6 {
        font-size: 70%;
    }

    .cartContainer__items--imagen img {
        height: 8rem;
        width: 8rem;
    }

    .cartContainer__other #addToCartButton {
        margin: 1rem;
        width: 80%;
    }
}

.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
