* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: whitesmoke;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

header {
    color: whitesmoke;
    height: fit-content;
    font-family: "Lobster", cursive;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 0 2px 3px #a3b4a2;
}

header:hover {
    color: wheat;
    transition: 0.5s;
    filter: saturate(2);
}

header a:hover {
    color: wheat;
    transition: 0.5s;
    text-shadow: 2vh 1vh 2vh black;
}

header a h1 {
    font-size: 7vh;
    filter: drop-shadow(1vh 1vh 1vh black);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav__categories {
    display: flex;
    flex-direction: row;
    font-size: 2.5vh;
}

.dropdown {
    outline: none;
}

#dropdown-basic-button {
    border: none;
    outline: none;
    background-color: transparent;
}

#dropdown-basic-button:hover {
    filter: saturate(1.5);
    color: wheat;
}

.dropdown-item a {
    color: black;
}

.dropdown-item a:hover {
    color: rgb(114, 2, 2);
}

.loadingSpinnerContainer {
    display: flex;
    justify-content: center;
}

.itemList {
    display: grid;
    grid-template-columns: 25%25%25%25%;
    margin-top: 3rem;
}

@media (max-width: 1000px) {
    .itemList {
        grid-template-columns: 33% 33% 33%;
        transition: 1s;
    }
}

@media (max-width: 750px) {
    .itemList {
        grid-template-columns: 50% 50%;
        transition: 1s;
    }
    nav {
        flex-direction: column;
    }
    .nav__categories {
        display: flex;
        flex-direction: row;
        font-size: 2vh;
        padding: 4vh;
    }
}

@media (max-width: 500px) {
    .itemList {
        grid-template-columns: 100%;
        transition: 1s;
    }
}

.itemList img {
    width: 70%;
    height: 100%;
}

.itemList img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: saturate(1.5);
}

.itemContainer {
    display: grid;
    width: 15rem;
    height: auto;
    font-family: "Andada Pro", serif;
    box-shadow: rgb(39, 39, 39) 0.4vh 0.7vh 0.4vh;
    border-radius: 1em;
    margin: 1em auto;
    background-color: white;
    place-items: center;
    grid-gap: 1em;
    grid-template-areas:
        "producto"
        "producto"
        "producto"
        "producto"
        "botonDetalles";
}

.itemContainer a img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.itemContainer:hover {
    transform: scale(1.01);
    transition: 0.25s;
    box-shadow: rgb(94, 93, 93) 1vh 1vh 1vh;
}

#detailsButton {
    display: grid;
    grid-area: botonDetalles;
    margin: 0 auto 5vh auto;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 0 2px 3px #a3b4a2;
    border: none;
    color: white;
}
#detailsButton:hover {
    filter: saturate(2);
}

.itemContainer h3 {
    color: #193a29;
}

.itemCard--top {
    display: grid;
    width: 100%;
    grid-area: cantidad;
    place-items: center;
    grid-template-areas: "botonRestar contador botonSumar";
}
.itemCard--bottom {
    display: grid;
    grid-area: agregar;
}

#buttonSwitch {
    border-radius: 100%;
}

#buttonSwitch:hover {
    background-color: wheat;
    transition: 1s;
}

#plusButton {
    display: grid;
    background-color: white;
    color: rgb(46, 46, 189);
    border: none;
    width: 4vh;
    height: 4vh;
    grid-area: botonSumar;
}

#plusButton:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#minusButton {
    display: grid;
    background-color: white;
    color: rgb(46, 46, 189);
    border: none;
    grid-area: botonRestar;
}

#minusButton:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#counterNumber {
    display: grid;
    place-items: center;
    margin: auto;
    grid-area: contador;
}

#addToCartButton {
    display: grid;
    background-image: linear-gradient(
        to top right,
        rgb(125, 2, 2),
        rgb(114, 2, 2),
        rgb(103, 2, 3),
        rgb(92, 3, 3),
        rgb(81, 3, 3),
        rgb(70, 3, 3),
        rgb(60, 3, 4),
        rgb(49, 3, 4),
        rgb(38, 3, 4),
        rgb(27, 4, 4),
        rgb(16, 4, 5),
        rgb(5, 4, 5)
    );
    box-shadow: 0 2px 3px #a3b4a2;
    border: none;
    width: auto;
    opacity: 0.8;
    margin-bottom: 6vh;
}
#addToCartButton:hover {
    display: grid;
    filter: saturate(2);
    margin-bottom: 6vh;
    opacity: 1;
}

.itemDetailContainer {
    display: grid;
    grid-template-columns: 55% 45%;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1000px) {
    .itemDetailContainer {
        grid-template-columns: 100%;
    }
}

.itemDetailRightContainer {
    display: grid;
    width: 70%;
    height: fit-content;
    background-color: white;
    margin: 2rem;
    height: fit-content;
    box-shadow: rgb(36, 36, 36) 1vh 1.5vh 1vh;
    padding: 3rem;
    border-radius: 1em;
    place-content: center;
}
.itemDetailRightContainer:hover {
    box-shadow: rgb(65, 65, 65) 1.5vh 2vh 1.5vh;
    transition: 0.2s;
}

.itemDetailRightContainer h3 {
    font-size: 1.75rem;
    padding-bottom: 1.1rem;
    color: black;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}

.itemDetailRightContainer p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.itemDetailRightContainer img {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.itemDetailCardContainer {
    display: grid;
    width: 70%;
    height: fit-content;
    box-shadow: rgb(36, 36, 36) 1vh 1.5vh 1vh;
    transition: 0.25s;
    border-radius: 1em;
    margin: 2rem;
    background-color: white;
    place-items: center;
    grid-gap: 1em;
    grid-template-areas:
        "producto"
        "producto"
        "producto"
        "cantidad"
        "agregar";
}

.itemDetailCardContainer:hover {
    box-shadow: rgb(65, 65, 65) 1.5vh 2vh 1.5vh;
    transition: 0.2s;
}

.itemDetailCardContainer h3 {
    color: #193a29;
    font-weight: 600;
}

.itemDetailCardContainer img {
    width: 20rem;
}

.itemDetailCardContainer img:hover {
    transform: scale(1.1);
    filter: saturate(1.5);
    transition: 0.5s;
}
