* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
}

img {
    width: 12rem;
    height: 12rem;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    color: wheat;
}

#main-header {
    font-family: "Andada Pro", serif;
    color: wheat;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #193a29;
    box-shadow: 0 2px 3px black;
}

.itemList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.itemContainer {
    display: grid;
    width: 15rem;
    height: auto;
    font-family: "Andada Pro", serif;
    border: 2.5px black ridge;
    box-shadow: teal 0 2px 3px;
    border-radius: 1em;
    margin: 1em auto;
    background-color: white;
    place-items: center;
    grid-gap: 1em;
    grid-template-areas:
        "producto"
        "producto"
        "producto"
        "producto"
        "producto"
        "cantidad"
        "agregar";
}

.itemContainer:hover {
    transform: scale(1.01);
    transition: 0.25s;
}

.itemCard--top {
    display: grid;
    width: 100%;
    background-color: white;
    grid-area: cantidad;
    place-items: center;
    grid-template-areas: "botonRestar . contador . botonSumar";
}
.itemCard--bottom {
    display: grid;
    grid-area: agregar;
}

#botonSumar {
    display: grid;
    background-color: white;
    color: rgb(46, 46, 189);
    border: none;
    grid-area: botonSumar;
}

#botonSumar:hover {
    transform: scale(1.5);
    transition: 0.5s;
}
#botonRestar {
    display: grid;
    background-color: white;
    color: rgb(46, 46, 189);
    border: none;
    grid-area: botonRestar;
}

#botonRestar:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#contadorItem {
    display: grid;
    place-items: center;
    margin: auto;
    grid-area: contador;
}

#botonAgregar {
    display: grid;
    background-color: #193a29;
    opacity: 0.8;
    margin-bottom: 6vh;
}
#botonAgregar:hover {
    display: grid;
    background-color: #193a29;
    margin-bottom: 6vh;
    opacity: 1;
}
